body {
	background-color: midnightblue
}

#camera {
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    background-color: #333;
    background-image: url('https://pbs.twimg.com/profile_images/1038851298160984064/bcFA1bxQ_400x400.jpg');
}